<!--<h1>Contact Us</h1>-->
<div class="jumbotron contacttron"> 
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" ng-model="email" placeholder="Enter Email">
                    </div>
                    <div class="form-group">
                        <label for="subject">Subject</label>
                        <input type="text" class="form-control" ng-model="subject" placeholder="Enter Subject">
                    </div>
                    <div class="form-group">
                        <label for="content">Message</label>
                        <textarea class="form-control" ng-model="content" cols="5" rows="10" placeholder="Type your message here"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="sendMessage()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

