<div class="jumbotron misctron">
    <div class="container">

    </div>
</div>

<div class="bgc container">
    <div class="apps row">
        <div ng-repeat="m in misc"class="col-md-3 apps">
            <a ng-href="/products/{{ m.product_id }}"><img class="img-thumbnail" ng-src="{{ m.imageurl }}"></a>
            <p>{{ m.title }}</p><br/>
            <p>{{ m.price | currency:"$":0 }}</p>
            <button type="button" ng-click="addToCart(m)" class="btn btn-warning">Add to Cart</button>
        </div>
    </div>
</div>