<div class="jumbotron purchasetron">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>Thank you for shopping with us.</h3>
                    <h4>Contents of cart: </h4><br/>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-4">
                                <h4>Item:</h4>
                            </div>
                            <div class="col-md-3">
                                <h4>Price</h4>
                            </div>
                            <div class="col-md-2">
                                <h4>Qty</h4>
                            </div>
                        </div><br/>
                    </div>
                    <div ng-repeat="i in items" class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <img ng-src="{{ i.imageurl }}" class="img-thumbnail" alt="">
                            </div>
                            <div class="col-md-4">
                                <h4>{{ i.title }}</h4>
                            </div>
                            <div class="col-md-3">
                                <h4 ng-model="price">{{ i.price | currency:"$":0 }}</h4>
                            </div>
                            <div class="col-md-2 quantity-widget">
                                <div class="votingButton">
                                    <a class="glyphicon glyphicon-chevron-up glyphicon-white" ng-click="up(i)"></a>
                                </div>
                                <div class="badge badge-inverse">
                                    <div ng-model="num">{{i.quantity}}</div>
                                </div>
                                <div class="votingButton">
                                    <a class="glyphicon glyphicon-chevron-down glyphicon-white" ng-click="down(i)"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <form>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label for="firstname">First Name</label>
                                    <input type="text" class="form-control" ng-model="firstname" placeholder="Enter First Name">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="lastname">Last Name</label>
                                    <input type="text" class="form-control" ng-model="lastname" placeholder="Enter Last Name">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8">
                                    <label for="cardnumber">Credit Card Number</label>
                                    <input type="number" class="form-control" ng-model="cardnumber" placeholder="Enter Card Number">
                                </div>
                                <div class="col-md-4">
                                    <label for="cvc">CVC</label>
                                    <input type="number" class="form-control" ng-model="cvc" placeholder="Enter CVC">
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                               <div class="col-md-6">
                                   <label for="expirationMonth">Expiration Month</label>
                                   <input type="number" class="form-control" ng-model="expirationMonth" placeholder="Enter Expiration Month">
                               </div>
                               <div class="col-md-6">
                                   <label for="expirationYear">Expiration Year</label>
                                   <input type="number" class="form-control" ng-model="expirationYear" placeholder="Enter Expiration Year">
                               </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="submit" ng-click="processPayment()" class="btn btn-warning btn-lg">Pay</button>
                                </div>
                                <div class="col-md-6">
                                    <h4>Total: {{ finalcost | currency:"$"}}</h4>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>